<changeSet id="345">
    <createTable name="${((originTable))}_1" id="" view="${((originTable))}" condition="${((condition))}">
        <columns>
            <#list all as att1>
            <columns name="${att1}" id="id.${att1}" dbname="" nullable="false" dbtype=""/>
        </#list>
    </columns>
</createTable>
</changeSet>
