<changeSet id="234">
  <createTable name="${targetTable[0]}" id="" view="" condition="">
    <columns>
        <#list all as col>
        <columns name="${col}" id="id.${col}" dbname="" nullable="false" dbtype=""/>
        </#list>
    </columns>
  </createTable>
  <createConstraint name="${targetTable[0]}.primaryKey" id="" type="PRIMARY_KEY">
    <source name="" id="" table="${targetTable[0]}">
        <columns>
            <#list keys as key>
            <columns name="${key}" id="id.${key}" dbname="" nullable="false" dbtype=""/>
            </#list>
        </columns>
    </source>
    <target name="" id="" table="">
        <columns>
            <columns name="" id="" dbname="" nullable="false" dbtype=""/>
        </columns>
    </target>
  </createConstraint>
  <createConstraint name="${targetTable[0]}.functional" id="" type="FUNCTIONAL">
    <source name="" id="" table="${targetTable[0]}">
        <columns>
            <#list fds as fd>
            <columns name="${fd}" id="id.${fd}" dbname="" nullable="false" dbtype=""/>
            </#list>
        </columns>
    </source>
    <target name="" id="" table="">
        <columns>
            <#list fds_target as fdt>
            <columns name="${fdt}" id="id.${fdt}" dbname="" nullable="false" dbtype=""/>
            </#list>
        </columns>
    </target>
  </createConstraint>
  <dropTable path="" schemaName="" tableName="${originTable1[0]}"/>
  <dropTable path="" schemaName="" tableName="${originTable2[0]}"/>
  <dropConstraint path="" schemaName="" constraintName="${originTable1[0]}.primaryKey"/>
  <dropConstraint path="" schemaName="" constraintName="${originTable2[0]}.primaryKey"/>
  <dropConstraint path="" schemaName="" constraintName="${targetTable[0]}.doubleInclusion"/>
</changeSet>